In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv(r"F:\Math\2.Mine_Interest_\Data_Science_Course\Datasets\Logistic Regression dataset\heart_2020_cleaned.csv")
data.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,No,16.60,Yes,No,No,3.0,30.0,No,Female,55-59,White,Yes,Yes,Very good,5.0,Yes,No,Yes
1,No,20.34,No,No,Yes,0.0,0.0,No,Female,80 or older,White,No,Yes,Very good,7.0,No,No,No
2,No,26.58,Yes,No,No,20.0,30.0,No,Male,65-69,White,Yes,Yes,Fair,8.0,Yes,No,No
3,No,24.21,No,No,No,0.0,0.0,No,Female,75-79,White,No,No,Good,6.0,No,No,Yes
4,No,23.71,No,No,No,28.0,0.0,Yes,Female,40-44,White,No,Yes,Very good,8.0,No,No,No

In [4]:
# data null values checking()
data.isnull().sum()

HeartDisease        0
BMI                 0
Smoking             0
AlcoholDrinking     0
Stroke              0
PhysicalHealth      0
MentalHealth        0
DiffWalking         0
Sex                 0
AgeCategory         0
Race                0
Diabetic            0
PhysicalActivity    0
GenHealth           0
SleepTime           0
Asthma              0
KidneyDisease       0
SkinCancer          0
dtype: int64

In [5]:
# data info()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319795 entries, 0 to 319794
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   HeartDisease      319795 non-null  object
 1   BMI               319795 non-null  float64
 2   Smoking           319795 non-null  object
 3   AlcoholDrinking   319795 non-null  object
 4   Stroke            319795 non-null  object
 5   PhysicalHealth    319795 non-null  float64
 6   MentalHealth      319795 non-null  float64
 7   DiffWalking       319795 non-null  object
 8   Sex               319795 non-null  object
 9   AgeCategory       319795 non-null  object
 10  Race              319795 non-null  object
 11  Diabetic          319795 non-null  object
 12  PhysicalActivity  319795 non-null  object
 13  GenHealth         319795 non-null  object
 14  SleepTime         319795 non-null  float64
 15  Asthma            319795 non-null  object
 16  KidneyDisease     319795 non-null  object
 17  SkinCancer        319795 non-null  object
dtypes: float64(4), object(14)
memory usage: 43.9+ MB

In [6]:
# train_test_split/validation

values,labels = pd.factorize(data['SkinCancer'])
data['SkinCancer'] = values

In [7]:
from sklearn.preprocessing import LabelEncoder

le_hd = LabelEncoder()
le_sk = LabelEncoder()
le_al = LabelEncoder()
le_st = LabelEncoder()

In [8]:
data['HeartDisease']    = le_hd.fit_transform(data['HeartDisease'])
data['Smoking']         = le_sk.fit_transform(data['Smoking'])
data['AlcoholDrinking'] = le_al.fit_transform(data['AlcoholDrinking'])
data['Stroke']          = le_st.fit_transform(data['Stroke'])

In [9]:
display(data['Stroke'] ,data['AlcoholDrinking'],data['Smoking'] , data['HeartDisease']    )

0         0
1         1
2         0
3         0
4         0
         ..
319790    0
319791    0
319792    0
319793    0
319794    0
Name: Stroke, Length: 319795, dtype: int32

0         0
1         0
2         0
3         0
4         0
         ..
319790    0
319791    0
319792    0
319793    0
319794    0
Name: AlcoholDrinking, Length: 319795, dtype: int32

0         1
1         0
2         1
3         0
4         0
         ..
319790    1
319791    1
319792    0
319793    0
319794    0
Name: Smoking, Length: 319795, dtype: int32

0         0
1         0
2         0
3         0
4         0
         ..
319790    1
319791    0
319792    0
319793    0
319794    0
Name: HeartDisease, Length: 319795, dtype: int32

In [10]:
X = data.iloc[:,:5]
y = data.iloc[:,-1]
display(X, 'if skincancer is  yes:0 and No:1', y)

        HeartDisease    BMI  Smoking  AlcoholDrinking  Stroke
0                  0  16.60        1                0       0
1                  0  20.34        0                0       1
2                  0  26.58        1                0       0
3                  0  24.21        0                0       0
4                  0  23.71        0                0       0
...              ...    ...      ...              ...     ...
319790             1  27.41        1                0       0
319791             0  29.84        1                0       0
319792             0  24.24        0                0       0
319793             0  32.81        0                0       0
319794             0  46.56        0                0       0

[319795 rows x 5 columns]

'if skincancer is  yes:0 and No:1'

0         0
1         1
2         1
3         0
4         1
         ..
319790    1
319791    1
319792    1
319793    1
319794    1
Name: SkinCancer, Length: 319795, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(X,y, test_size = 0.25)

In [12]:
from sklearn.linear_model import LogisticRegression

lgr_model  = LogisticRegression()

In [13]:
lgr_model.fit(x_train,y_train)

LogisticRegression()

In [14]:
# prediction

y_pred = lgr_model.predict(x_test)

df = pd.DataFrame({'Actucal value':y_test, 'Predicted value':y_pred})
df

        Actucal value  Predicted value
64580               1                1
19480               1                1
76775               1                1
187474              1                1
61956               1                1
...               ...              ...
143785              1                1
164765              1                1
206623              1                1
136325              1                1
108912              1                1

[79949 rows x 2 columns]

In [15]:
# train and test accuracy

print('Training Score of the model:',lgr_model.score(x_train,y_train))
print('Testing Score of the model:', lgr_model.score(x_test,y_test))

Training Score of the model: 0.9072446486495501
Testing Score of the model: 0.9052896221341105

In [17]:
# checking the goodness of the model

from sklearn import metrics

print("Accuracy score of the model:", metrics.accuracy_score(y_test,y_pred))

Accuracy score of the model: 0.9052896221341105